/*no highlight*/

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* Lehtede navigeerimine */
main > * {
    display: none;
    padding: 10px;
}
main > *:last-child {
    display: block;
}
main > *:target {
    display: block;
}
main > *:target ~ * {
    display: none;
}

html {
	background-color: #fafafa;
	/*todo: get hex bg png*/
}

*{
	border-radius: 0px !important;
}

.disNone{
	display:none;
}
.disBlo{
	display:block;
}

.row{
	margin:0px;
}

.noPad{
	padding: 0px !important;

}
.menu{
	
	width:100%;
	background-color: #fafafa;
}

.menu-list{	

}

.menu-item{
	border: 1px solid #ccc;
	text-align:center;
}
.menu-item .btn {
	width:100%;
	border-radius: 0px;
}

.center{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.list-of-jars{
	 list-style-type: none;
	 
}

.list-of-jars li{
	 position: relative;
	 background-color: rgba(0,0,0, 0.1);
	 margin: 5px 0;
}

.del-btn{
	position:absolute;
	top:0px;
	right:0px;
	height:100%;
	background-color:#ff3b30;
	color:#ffffff;
	border:0px;
	width:40px;
}

.del-btn:hover{
	color:#ff3b30;
	background-color:#ffffff;
}

.mod-btn{
	position:absolute;
	top:0px;
	right:40px;
	height:100%;
	background-color:#c7c7cc;
	color:#ffffff;
	border:0px;
	width:40px;
}

.mod-btn:hover{
	color:#c7c7cc;
	background-color:#ffffff;
}

.btn-success{
	background-color:#3088f4;
	color:#ffffff;
	border:0px;
	width:30%;
}

.btn-success:hover{
	background-color:#39c9ff;
	color:#ffffff;
	border:0px;
	width:30%;
}

.title{
	font-weight:bold;
	font-size: 20px;
	padding-top: 5px;
	padding-left: 10px;
}

.date{
	padding-left: 10px;

}
.amount{
	padding-left: 25px;
	font-weight: bold;
	
}

/*
*text-style
*/
@font-face {
  font-family: 'SFDThin';
  src: url('../fonts/SFDThin.ttf') format('truetype');
}

h1, h2, h3, h4 , button{
	font-family: 'SFDThin', sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*
*progress-bar
*/
.progress{
	height: 33px;
}
.progress-bar{
	line-height: 35px;
}
.progress span{
	font-family: 'SFDThin', sans-serif;
	font-size: 2em;
}

/*
*ios-checkbox custom
*/

#filtersGroup{
	position:relative;
	display:block;
}
.ios-label{
	border-top: 1px solid #eee !important;
	border-bottom: 1px slid #eee !important;
	font-family: 'SFDThin', sans-serif;
	font-size: 1.25em;
	padding-left: 0 !important;
	padding-top: 5px;
	//padding-bottom: 5px;
	margin-bottom: 5px !important;
	position:relative;
	display:block;
	height: 42px;
}
.ios-label span{
	float:left;
	display:inline-block;
	margin-top:5px;
}
.ios-label div{
	display:inline-block;
	float:right;
}

/*
* css credits to http://www.jqueryscript.net/form/iOS-Style-Checkbox-Plugin-with-jQuery-CSS3-iosCheckbox-js.html
*/
.ios-ui-select{
	background: #dddddd !important;
	border: none !important;
	height: 36px !important;
	background: #dddddd !important;
	-webkit-border-radius: 18px !important;
	border-radius: 18px !important;
	width: 60px !important;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	cursor: pointer !important;
	position: relative !important;
	display: inline-block !important;
}
.ios-ui-select.checked{
	-webkit-box-shadow: inset 0 0 0 36px #6ddc5f !important;
	box-shadow: inset 0 0 0 36px #6ddc5f !important;
}
.ios-ui-select.checked .inner{
	left: 27px !important;
}
.ios-ui-select .inner{
	width: 30px !important;
	height: 30px !important;
	position: absolute !important;
	top: 3px !important;
	left: 3px !important;
	-webkit-border-radius: 100% !important;
	border-radius: 100% !important;
	background: white !important;
	-webkit-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
	-moz-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
	-o-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
	transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 3px 4px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 3px 4px 0 rgba(0,0,0,0.1);
}